html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: 'Hero';
  /*a name to be used later*/
  src: url("../font/Hero.ttf");
  /*URL to font*/ }
h1,
h2 {
  font-family: 'Hero';
  font-size: 20pt;
  text-align: center; }

p {
  font-family: 'Hero';
  text-align: justify;
  line-height: 150%;
  width: 100%;
  margin: 15px 0; }

* {
  padding: 0;
  margin: 0; }
  *:focus {
    outline: none; }

a {
  color: #31353D;
  text-decoration: none;
  position: relative; }

.line {
  width: 100%;
  height: 2px;
  background-image: url("../img/line.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
  position: relative; }

.round {
  background-color: #1C1D21;
  border-radius: 100%;
  height: 4px;
  width: 4px;
  position: relative;
  margin: 0 auto;
  top: -1px; }

.sectionHeader {
  margin: 100px auto; }

.active {
  font-size: 15pt; }

#navigation {
  position: relative;
  width: 100%;
  z-index: 7; }
  #navigation ul {
    text-align: center; }
    #navigation ul li {
      display: inline-block;
      margin: 0 70px;
      font-family: 'Hero';
      position: relative;
      top: 0px;
      font-size: 13pt;
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease; }
      #navigation ul li a {
        -webkit-transition: all 0.1s ease-in-out 0s;
        transition: all 0.1s ease-in-out 0s; }
        #navigation ul li a:hover:before {
          cursor: pointer;
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
          visibility: visible;
          -webkit-transform: scaleX(1);
              -ms-transform: scaleX(1);
                  transform: scaleX(1); }
        #navigation ul li a:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          bottom: 0;
          left: 0;
          background-color: #31353D;
          visibility: hidden;
          -webkit-transform: scaleX(0);
              -ms-transform: scaleX(0);
                  transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s; }

.navSelected {
  color: #6B7385; }

#name {
  position: relative;
  top: -18px;
  margin: 0 auto;
  font-size: 16pt;
  text-align: center;
  width: 200px; }

#logo {
  width: 80px;
  height: 65px;
  position: relative;
  top: 2px;
  left: 46%; }

.menuCollapse {
  height: 75px; }
  .menuCollapse #logoContent {
    height: 36px; }
    .menuCollapse #logoContent #logo {
      left: 50%;
      height: 0%;
      width: 0%; }
    .menuCollapse #logoContent #name {
      font-size: 16pt; }

header {
  height: 110px;
  width: 100%;
  position: fixed;
  top: 0px;
  box-shadow: 0px 3px 11px -1px #757575;
  background-color: #EEEFF7;
  z-index: 5;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease; }
  header #logoContent {
    margin: 0 auto;
    position: relative;
    top: 2px;
    margin-bottom: 5px;
    width: 100%;
    height: 73px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease; }
    header #logoContent #logo {
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease; }
      header #logoContent #logo:hover {
        cursor: pointer; }
    header #logoContent #name {
      font-size: 0pt;
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease; }
      header #logoContent #name:hover {
        cursor: pointer; }
  header .line {
    width: 960px;
    margin: 0 auto;
    margin-bottom: 3.5px; }

@font-face {
  font-family: 'Hero';
  /*a name to be used later*/
  src: url("../font/Hero.ttf");
  /*URL to font*/ }
h1,
h2 {
  font-family: 'Hero';
  font-size: 20pt;
  text-align: center; }

p {
  font-family: 'Hero';
  text-align: justify;
  line-height: 150%;
  width: 100%;
  margin: 15px 0; }

* {
  padding: 0;
  margin: 0; }
  *:focus {
    outline: none; }

a {
  color: #31353D;
  text-decoration: none;
  position: relative; }

.line {
  width: 100%;
  height: 2px;
  background-image: url("../img/line.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
  position: relative; }

.round {
  background-color: #1C1D21;
  border-radius: 100%;
  height: 4px;
  width: 4px;
  position: relative;
  margin: 0 auto;
  top: -1px; }

.sectionHeader {
  margin: 100px auto; }

.active {
  font-size: 15pt; }

#gallery {
  width: 100%;
  position: relative; }
  #gallery img {
    width: 100%;
    height: 100%; }

@font-face {
  font-family: 'Hero';
  /*a name to be used later*/
  src: url("../font/Hero.ttf");
  /*URL to font*/ }
h1,
h2 {
  font-family: 'Hero';
  font-size: 20pt;
  text-align: center; }

p {
  font-family: 'Hero';
  text-align: justify;
  line-height: 150%;
  width: 100%;
  margin: 15px 0; }

* {
  padding: 0;
  margin: 0; }
  *:focus {
    outline: none; }

a {
  color: #31353D;
  text-decoration: none;
  position: relative; }

.line {
  width: 100%;
  height: 2px;
  background-image: url("../img/line.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
  position: relative; }

.round {
  background-color: #1C1D21;
  border-radius: 100%;
  height: 4px;
  width: 4px;
  position: relative;
  margin: 0 auto;
  top: -1px; }

.sectionHeader {
  margin: 100px auto; }

.active {
  font-size: 15pt; }

* {
  font-family: 'Hero'; }

button {
  margin-bottom: 5px;
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #445878;
  color: #445878;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease; }
  button:hover {
    color: white;
    background: #445878; }
  button:active {
    letter-spacing: 2px; }
  button:after {
    content: "SUBMIT"; }

.onclic {
  width: 40px;
  border-color: #bbbbbb;
  border-width: 3px;
  font-size: 0;
  border-color: #445878;
  -webkit-animation: rotating 2s 0.25s linear infinite;
          animation: rotating 2s 0.25s linear infinite; }
  .onclic:after {
    content: ""; }
  .onclic:hover {
    color: #445878;
    background: white; }

.validate {
  font-size: 13px;
  color: white;
  background: #445878; }
  .validate:after {
    font-family: 'FontAwesome';
    content: "\f00c"; }

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
#portfolioSection #portfolioContent {
  text-align: center; }
  #portfolioSection #portfolioContent .PortfolioLogo {
    border: solid 1px red;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 15px 50px;
    margin-bottom: 11px; }

#blogSection #blogContent .Article {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  #blogSection #blogContent .Article::after {
    clear: both;
    content: "";
    display: table; }
  #blogSection #blogContent .Article h2 {
    font-size: 15pt;
    text-align: left; }
  #blogSection #blogContent .Article small {
    color: #9197a3;
    font-family: 'Hero'; }
  #blogSection #blogContent .Article .BlogImage {
    border: solid 1px red;
    width: 200px;
    height: 200px;
    display: inline-block;
    float: left;
    margin: 15px 15px 11px 0; }
  #blogSection #blogContent .Article .ArticleText {
    float: right;
    width: 75%;
    height: 100%;
    display: inline-block;
    margin-top: 35px; }

#contactSection #contactContent {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px; }
  #contactSection #contactContent::after {
    clear: both;
    content: "";
    display: table; }
  #contactSection #contactContent #formContact label {
    font-family: 'Hero'; }
  #contactSection #contactContent #formContact input[type="text"],
  #contactSection #contactContent #formContact input[type="email"],
  #contactSection #contactContent #formContact textarea {
    font-family: 'Hero';
    padding: 12px;
    box-sizing: border-box;
    display: block;
    border-radius: 2px;
    border: solid 1px #445878;
    width: 100%;
    background: #ECECF5;
    font-size: 12pt;
    margin-bottom: 20px;
    margin-top: 5px;
    resize: none; }
  #contactSection #contactContent #formContact input[type="text"]:focus,
  #contactSection #contactContent #formContact input[type="email"]:focus {
    background: #F1F1FA; }

#newsLetter {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  #newsLetter::after {
    clear: both;
    content: "";
    display: table; }
  #newsLetter input[type="email"],
  #newsLetter label,
  #newsLetter button {
    float: left;
    margin-right: 10px; }
  #newsLetter button {
    margin-top: 2.3px;
    margin-right: 0;
    margin-left: 5px; }
  #newsLetter input[type="email"] {
    font-family: 'Hero';
    padding: 12px;
    box-sizing: border-box;
    display: block;
    border-radius: 2px;
    border: solid 1px #445878;
    width: 100%;
    background: #ECECF5;
    font-size: 12pt;
    margin-bottom: 20px;
    margin-top: 5px;
    resize: none;
    margin-top: 1.5px;
    display: inline-block;
    width: 79%;
    padding: 8.5px;
    height: 40px; }
    #newsLetter input[type="email"]:focus {
      background: #F1F1FA; }
  #newsLetter label {
    margin-top: 12px; }

footer #footerContent {
  margin-bottom: 15px;
  width: 100%;
  height: 30px; }
  footer #footerContent small {
    float: right;
    margin-top: 5px; }
    footer #footerContent small #copyright {
      font-family: Helvetica;
      font-size: 12pt;
      vertical-align: -2px; }
  footer #footerContent ul {
    float: left; }
    footer #footerContent ul li {
      width: 30px;
      height: 30px;
      display: inline-block;
      margin-right: 15px; }
      footer #footerContent ul li a {
        display: inline-block;
        width: 100%;
        height: 100%; }
    footer #footerContent ul #facebook {
      background-image: url("../img/Facebook.png");
      background-size: 100%; }
    footer #footerContent ul #github {
      background-image: url("../img/Github.png");
      background-size: 100%; }
    footer #footerContent ul #linkedin {
      background-image: url("../img/LinkedIn.png");
      background-size: 100%; }

#fullpage {
  background-color: #EEEFF7;
  position: relative;
  top: 112px;
  width: 960px;
  height: 100%;
  margin: 0 auto;
  z-index: 1; }

body {
  background-color: #EEEFF7; }
