@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: 'Hero';
  /*a name to be used later*/
  src: url("../font/Hero.ttf");
  /*URL to font*/ }
h1,
h2 {
  font-family: 'Hero';
  font-size: 20pt;
  text-align: center; }

p {
  font-family: 'Hero';
  text-align: justify;
  line-height: 150%;
  width: 100%;
  margin: 15px 0; }

* {
  padding: 0;
  margin: 0; }
  *:focus {
    outline: none; }

.line {
  width: 100%;
  height: 2px;
  background-image: url("../img/line.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
  position: relative; }

.round {
  background-color: #1C1D21;
  border-radius: 100%;
  height: 4px;
  width: 4px;
  position: relative;
  margin: 0 auto;
  top: -1px; }

.sectionHeader {
  margin: 100px auto; }

#FixedMenu {
  height: 110px;
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 0px 3px 11px -1px #757575;
  background-color: #EEEFF7;
  z-index: 5; }
  #FixedMenu #logo {
    background-image: url("../img/test5.gif");
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 80px;
    height: 97px;
    position: relative;
    top: 2px; }
  #FixedMenu .line {
    width: 960px;
    margin: 0 auto;
    top: -25px; }
  #FixedMenu #navigation ul {
    text-align: center; }
    #FixedMenu #navigation ul li {
      display: inline-block;
      margin: 0 70px; }
      #FixedMenu #navigation ul li a {
        text-decoration: none;
        font-family: 'Hero';
        color: #31353D;
        position: relative;
        top: -17px;
        font-size: 13pt; }

@font-face {
  font-family: 'Hero';
  /*a name to be used later*/
  src: url("../font/Hero.ttf");
  /*URL to font*/ }
h1,
h2 {
  font-family: 'Hero';
  font-size: 20pt;
  text-align: center; }

p {
  font-family: 'Hero';
  text-align: justify;
  line-height: 150%;
  width: 100%;
  margin: 15px 0; }

* {
  padding: 0;
  margin: 0; }
  *:focus {
    outline: none; }

.line {
  width: 100%;
  height: 2px;
  background-image: url("../img/line.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
  position: relative; }

.round {
  background-color: #1C1D21;
  border-radius: 100%;
  height: 4px;
  width: 4px;
  position: relative;
  margin: 0 auto;
  top: -1px; }

.sectionHeader {
  margin: 100px auto; }

#gallery {
  width: 100%;
  position: relative; }
  #gallery img {
    width: 100%;
    height: 100%; }

@font-face {
  font-family: 'Hero';
  /*a name to be used later*/
  src: url("../font/Hero.ttf");
  /*URL to font*/ }
h1,
h2 {
  font-family: 'Hero';
  font-size: 20pt;
  text-align: center; }

p {
  font-family: 'Hero';
  text-align: justify;
  line-height: 150%;
  width: 100%;
  margin: 15px 0; }

* {
  padding: 0;
  margin: 0; }
  *:focus {
    outline: none; }

.line {
  width: 100%;
  height: 2px;
  background-image: url("../img/line.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
  position: relative; }

.round {
  background-color: #1C1D21;
  border-radius: 100%;
  height: 4px;
  width: 4px;
  position: relative;
  margin: 0 auto;
  top: -1px; }

.sectionHeader {
  margin: 100px auto; }

* {
  font-family: 'Hero'; }

button {
  margin-bottom: 5px;
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #445878;
  color: #445878;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease; }
  button:hover {
    color: white;
    background: #445878; }
  button:active {
    letter-spacing: 2px; }
  button:after {
    content: "SUBMIT"; }

.onclic {
  width: 40px;
  border-color: #bbbbbb;
  border-width: 3px;
  font-size: 0;
  border-color: #445878;
  -webkit-animation: rotating 2s 0.25s linear infinite;
          animation: rotating 2s 0.25s linear infinite; }
  .onclic:after {
    content: ""; }
  .onclic:hover {
    color: #445878;
    background: white; }

.validate {
  font-size: 13px;
  color: white;
  background: #445878; }
  .validate:after {
    font-family: 'FontAwesome';
    content: "\f00c"; }

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
#portfolioContent {
  text-align: center; }
  #portfolioContent .PortfolioLogo {
    border: solid 1px red;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 15px 50px;
    margin-bottom: 11px; }

#blogContent .Article {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  #blogContent .Article::after {
    clear: both;
    content: "";
    display: table; }
  #blogContent .Article h2 {
    font-size: 15pt;
    text-align: left; }
  #blogContent .Article small {
    color: #9197a3;
    font-family: 'Hero'; }
  #blogContent .Article .BlogImage {
    border: solid 1px red;
    width: 200px;
    height: 200px;
    display: inline-block;
    float: left;
    margin: 15px 15px 11px 0; }
  #blogContent .Article .ArticleText {
    float: right;
    width: 75%;
    height: 100%;
    display: inline-block;
    margin-top: 35px; }

#contactContent {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px; }
  #contactContent::after {
    clear: both;
    content: "";
    display: table; }
  #contactContent #formContact label {
    font-family: 'Hero'; }
  #contactContent #formContact input[type="text"],
  #contactContent #formContact input[type="email"],
  #contactContent #formContact textarea {
    font-family: 'Hero';
    padding: 12px;
    box-sizing: border-box;
    display: block;
    border-radius: 2px;
    border: solid 1px #445878;
    width: 100%;
    background: #ECECF5;
    font-size: 12pt;
    margin-bottom: 20px;
    margin-top: 5px; }
  #contactContent #formContact input[type="text"]:focus,
  #contactContent #formContact input[type="email"]:focus {
    background: #F1F1FA; }

#newsLetter {
  display: block; }
  #newsLetter input[type="email"],
  #newsLetter label,
  #newsLetter button {
    float: left;
    margin-right: 10px; }
  #newsLetter button {
    margin-top: 4.5px;
    margin-right: 0;
    margin-left: 5px; }
  #newsLetter input[type="email"] {
    font-family: 'Hero';
    padding: 12px;
    box-sizing: border-box;
    display: block;
    border-radius: 2px;
    border: solid 1px #445878;
    width: 100%;
    background: #ECECF5;
    font-size: 12pt;
    margin-bottom: 20px;
    margin-top: 5px;
    display: inline-block;
    width: 79%;
    padding: 8.5px;
    height: 40px; }
    #newsLetter input[type="email"]:focus {
      background: #F1F1FA; }
  #newsLetter label {
    margin-top: 12px; }

footer #footerContent {
  margin-bottom: 15px;
  width: 100%;
  height: 30px; }
  footer #footerContent small {
    float: right;
    margin-top: 5px; }
    footer #footerContent small #copyright {
      font-family: Helvetica;
      font-size: 12pt;
      vertical-align: -2px; }
  footer #footerContent ul {
    float: left; }
    footer #footerContent ul li {
      width: 30px;
      height: 30px;
      display: inline-block;
      margin-right: 15px; }
      footer #footerContent ul li a {
        display: inline-block;
        width: 100%;
        height: 100%; }
    footer #footerContent ul #facebook {
      background-image: url("../img/Facebook.png");
      background-size: 100%; }
    footer #footerContent ul #github {
      background-image: url("../img/Github.png");
      background-size: 100%; }
    footer #footerContent ul #linkedin {
      background-image: url("../img/LinkedIn.png");
      background-size: 100%; }

#container {
  background-color: #EEEFF7;
  position: relative;
  top: 112px;
  width: 960px;
  height: 100%;
  margin: 0 auto;
  z-index: 1; }

body {
  background-color: #EEEFF7; }
