html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: 'Hero';
  /*a name to be used later*/
  src: url("../font/Hero.woff");
  /*URL to font*/ }
h1,
h2 {
  font-family: 'Hero';
  font-size: 20pt;
  text-align: center; }

p {
  font-family: 'Hero', Helvetia;
  text-align: justify;
  line-height: 150%;
  width: 100%;
  margin: 15px 0; }

hr {
  width: 100%;
  color: black;
  height: 1px;
  background-color: #aaa; }

* {
  padding: 0;
  margin: 0; }
  *:focus {
    outline: none; }

a {
  color: #31353D;
  text-decoration: none;
  position: relative; }
  a:hover, a:focus, a:visited {
    color: #1C1D21;
    text-decoration: none; }

.line {
  width: 100%;
  height: 2px;
  z-index: 1;
  background-image: url("../img/line.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
  position: relative; }

.round {
  background-color: #1C1D21;
  border-radius: 100%;
  height: 4px;
  width: 4px;
  position: relative;
  margin: 0 auto;
  top: -1px; }

.sectionHeader {
  text-align: center;
  height: 240px;
  z-index: 10; }
  .sectionHeader a {
    width: 100%;
    height: 100%;
    font-size: 18pt;
    font-weight: bold;
    position: relative; }

.sectionHeader-Phone a {
  border: solid 1px #EEEFF7;
  font-size: 40pt !important; }

.active {
  top: -2px;
  font-size: 18pt; }

.navbar-header {
  display: inline-block;
  position: relative;
  font-size: 18pt;
  color: #31353D;
  top: -2px;
  left: 10px; }
  .navbar-header button {
    margin: 0;
    padding: 0; }

@media (max-width: 991px) {
  .container {
    width: 100% !important;
    position: relative;
    overflow-x: hidden; }

  .navbar-header {
    float: none; }

  .navbar-left,
  .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; } }
@media (min-width: 1000px) {
  .container {
    width: 960px !important;
    margin: 0 auto !important;
    padding-right: 0;
    padding-left: 0; } }
#navigation {
  position: relative;
  width: 100%;
  z-index: 7; }
  #navigation ul {
    text-align: center;
    position: relative;
    top: 3px; }
    #navigation ul li {
      display: inline-block;
      margin: 0 70px;
      font-family: 'Hero';
      position: relative;
      top: 0px;
      font-size: 13pt;
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease; }
      #navigation ul li a {
        -webkit-transition: all 0.1s ease-in-out 0s;
        transition: all 0.1s ease-in-out 0s; }
        #navigation ul li a:hover:before {
          cursor: pointer;
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
          visibility: visible;
          -webkit-transform: scaleX(1);
              -ms-transform: scaleX(1);
                  transform: scaleX(1); }
        #navigation ul li a:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          bottom: 0;
          left: 0;
          background-color: #31353D;
          visibility: hidden;
          -webkit-transform: scaleX(0);
              -ms-transform: scaleX(0);
                  transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s; }

#name {
  position: relative;
  top: -18px;
  margin: 0 auto;
  font-size: 16pt;
  text-align: center;
  width: 200px; }

#logo {
  width: 80px;
  height: 65px;
  position: relative;
  top: 2px; }

.menuPhone {
  height: 120px !important;
  background-color: rgba(238, 239, 247, 0.6) !important;
  box-shadow: none !important;
  border-bottom: solid 1px #757575; }
  .menuPhone .navbar-header .glyphicon-align-justify {
    font-size: 50pt;
    width: 100px;
    position: relative;
    top: 25px; }
  .menuPhone #logoContent {
    height: 100px;
    display: inline-block !important;
    position: relative;
    left: 15%;
    top: 15px; }
    .menuPhone #logoContent #logo {
      left: 0%;
      height: 0%;
      width: 0%; }
    .menuPhone #logoContent #name {
      font-size: 40pt;
      position: relative;
      text-align: center;
      width: 100%; }
  .menuPhone #navigation .line {
    display: none; }

.menuCollapse {
  height: 75px !important;
  background-color: black; }
  .menuCollapse #logoContent {
    height: 32px; }
    .menuCollapse #logoContent #logo {
      left: 0%;
      height: 0%;
      width: 0%; }
    .menuCollapse #logoContent #name {
      font-size: 16pt; }

#menuContainer {
  height: 110px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0;
  box-shadow: 0px 3px 11px -1px #757575;
  background-color: #EEEFF7;
  z-index: 5;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease; }
  #menuContainer .line {
    width: 960px;
    margin: 0 auto; }

#logoContent {
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 2px;
  margin-bottom: 5px;
  width: 50%;
  height: 73px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease; }
  #logoContent #logo {
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease; }
    #logoContent #logo:hover {
      cursor: pointer; }
  #logoContent #name {
    font-size: 0pt;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease; }
    #logoContent #name:hover {
      cursor: pointer; }

.navbar-expand {
  position: relative;
  top: 2px;
  margin: 0 auto !important; }
  .navbar-expand ul {
    background-color: rgba(238, 239, 247, 0.6); }
    .navbar-expand ul li {
      display: block !important;
      border-bottom: solid 1px #1C1D21;
      margin: 10px 0 !important;
      padding: 30px 0; }
      .navbar-expand ul li a {
        font-size: 45pt; }

@font-face {
  font-family: 'Hero';
  /*a name to be used later*/
  src: url("../font/Hero.woff");
  /*URL to font*/ }
h1,
h2 {
  font-family: 'Hero';
  font-size: 20pt;
  text-align: center; }

p {
  font-family: 'Hero', Helvetia;
  text-align: justify;
  line-height: 150%;
  width: 100%;
  margin: 15px 0; }

hr {
  width: 100%;
  color: black;
  height: 1px;
  background-color: #aaa; }

* {
  padding: 0;
  margin: 0; }
  *:focus {
    outline: none; }

a {
  color: #31353D;
  text-decoration: none;
  position: relative; }
  a:hover, a:focus, a:visited {
    color: #1C1D21;
    text-decoration: none; }

.line {
  width: 100%;
  height: 2px;
  z-index: 1;
  background-image: url("../img/line.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
  position: relative; }

.round {
  background-color: #1C1D21;
  border-radius: 100%;
  height: 4px;
  width: 4px;
  position: relative;
  margin: 0 auto;
  top: -1px; }

.sectionHeader {
  text-align: center;
  height: 240px;
  z-index: 10; }
  .sectionHeader a {
    width: 100%;
    height: 100%;
    font-size: 18pt;
    font-weight: bold;
    position: relative; }

.sectionHeader-Phone a {
  border: solid 1px #EEEFF7;
  font-size: 40pt !important; }

.active {
  top: -2px;
  font-size: 18pt; }

.navbar-header {
  display: inline-block;
  position: relative;
  font-size: 18pt;
  color: #31353D;
  top: -2px;
  left: 10px; }
  .navbar-header button {
    margin: 0;
    padding: 0; }

@media (max-width: 991px) {
  .container {
    width: 100% !important;
    position: relative;
    overflow-x: hidden; }

  .navbar-header {
    float: none; }

  .navbar-left,
  .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; } }
@media (min-width: 1000px) {
  .container {
    width: 960px !important;
    margin: 0 auto !important;
    padding-right: 0;
    padding-left: 0; } }
#gallery {
  width: 100%;
  position: relative; }
  #gallery img {
    width: 100%;
    height: 100%; }

@font-face {
  font-family: 'Hero';
  /*a name to be used later*/
  src: url("../font/Hero.woff");
  /*URL to font*/ }
h1,
h2 {
  font-family: 'Hero';
  font-size: 20pt;
  text-align: center; }

p {
  font-family: 'Hero', Helvetia;
  text-align: justify;
  line-height: 150%;
  width: 100%;
  margin: 15px 0; }

hr {
  width: 100%;
  color: black;
  height: 1px;
  background-color: #aaa; }

* {
  padding: 0;
  margin: 0; }
  *:focus {
    outline: none; }

a {
  color: #31353D;
  text-decoration: none;
  position: relative; }
  a:hover, a:focus, a:visited {
    color: #1C1D21;
    text-decoration: none; }

.line {
  width: 100%;
  height: 2px;
  z-index: 1;
  background-image: url("../img/line.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
  position: relative; }

.round {
  background-color: #1C1D21;
  border-radius: 100%;
  height: 4px;
  width: 4px;
  position: relative;
  margin: 0 auto;
  top: -1px; }

.sectionHeader {
  text-align: center;
  height: 240px;
  z-index: 10; }
  .sectionHeader a {
    width: 100%;
    height: 100%;
    font-size: 18pt;
    font-weight: bold;
    position: relative; }

.sectionHeader-Phone a {
  border: solid 1px #EEEFF7;
  font-size: 40pt !important; }

.active {
  top: -2px;
  font-size: 18pt; }

.navbar-header {
  display: inline-block;
  position: relative;
  font-size: 18pt;
  color: #31353D;
  top: -2px;
  left: 10px; }
  .navbar-header button {
    margin: 0;
    padding: 0; }

@media (max-width: 991px) {
  .container {
    width: 100% !important;
    position: relative;
    overflow-x: hidden; }

  .navbar-header {
    float: none; }

  .navbar-left,
  .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; } }
@media (min-width: 1000px) {
  .container {
    width: 960px !important;
    margin: 0 auto !important;
    padding-right: 0;
    padding-left: 0; } }
* {
  font-family: 'Hero'; }

.submitButton {
  margin-bottom: 5px;
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #445878;
  color: #445878;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease; }
  .submitButton:hover {
    color: white;
    background: #445878; }
  .submitButton:active {
    letter-spacing: 2px; }
  .submitButton:after {
    content: "SUBMIT"; }

.onclic {
  width: 40px;
  border-color: #bbbbbb;
  border-width: 3px;
  font-size: 0;
  border-color: #445878;
  -webkit-animation: rotating 2s 0.25s linear infinite;
          animation: rotating 2s 0.25s linear infinite; }
  .onclic:after {
    content: ""; }
  .onclic:hover {
    color: #445878;
    background: white; }

.validate {
  font-size: 13px;
  color: white;
  background: #445878; }
  .validate:after {
    font-family: 'FontAwesome';
    content: "\f00c"; }

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
#portfolioSection #portfolioContent {
  text-align: center; }
  #portfolioSection #portfolioContent .PortfolioLogo {
    width: 200px;
    height: 200px;
    display: inline-block;
    background-image: url("../img/BussinessCard.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin: 15px 50px;
    margin-bottom: 11px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
    #portfolioSection #portfolioContent .PortfolioLogo:hover {
      -webkit-transform: scale(1.5, 1.5);
          -ms-transform: scale(1.5, 1.5);
              transform: scale(1.5, 1.5); }

#blogSection #blogContent .Article {
  margin-top: 35px;
  padding-bottom: 20px; }
  #blogSection #blogContent .Article .ArticleTitle-expand,
  #blogSection #blogContent .Article .ArticleTitle-collapse {
    margin-bottom: 10px; }
    #blogSection #blogContent .Article .ArticleTitle-expand h2,
    #blogSection #blogContent .Article .ArticleTitle-collapse h2 {
      margin-bottom: 0;
      font-size: 20pt;
      text-align: left; }
    #blogSection #blogContent .Article .ArticleTitle-expand small,
    #blogSection #blogContent .Article .ArticleTitle-collapse small {
      font-size: 10px;
      color: #9197a3; }
    #blogSection #blogContent .Article .ArticleTitle-expand p,
    #blogSection #blogContent .Article .ArticleTitle-collapse p {
      font-size: 14px; }
  #blogSection #blogContent .Article .ArticleText-expand,
  #blogSection #blogContent .Article .ArticleText-collapse {
    position: relative; }
    #blogSection #blogContent .Article .ArticleText-expand a,
    #blogSection #blogContent .Article .ArticleText-collapse a {
      font-weight: bold;
      font-size: 12pt;
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
      color: #445878; }
      #blogSection #blogContent .Article .ArticleText-expand a:hover,
      #blogSection #blogContent .Article .ArticleText-collapse a:hover {
        left: 5px; }
    #blogSection #blogContent .Article .ArticleText-expand span,
    #blogSection #blogContent .Article .ArticleText-collapse span {
      vertical-align: -2px; }

.blogSection-Phone h2 {
  font-size: 40pt !important;
  left: 37% !important;
  margin-bottom: 0px; }
.blogSection-Phone p {
  font-size: 13pt !important;
  line-height: 1.3; }
.blogSection-Phone small {
  font-size: 22pt !important; }
.blogSection-Phone img {
  width: 100% !important;
  height: 100% !important; }

#contactSection #contactContent {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px; }
  #contactSection #contactContent::after {
    clear: both;
    content: "";
    display: table; }
  #contactSection #contactContent #formContact label {
    font-family: 'Hero'; }
  #contactSection #contactContent #formContact input[type="text"],
  #contactSection #contactContent #formContact input[type="email"],
  #contactSection #contactContent #formContact textarea {
    font-family: 'Hero';
    padding: 12px;
    box-sizing: border-box;
    display: block;
    border-radius: 2px;
    border: solid 1px #445878;
    width: 100%;
    background: #ECECF5;
    font-size: 12pt;
    margin-bottom: 20px;
    margin-top: 5px;
    resize: none; }
  #contactSection #contactContent #formContact input[type="text"]:focus,
  #contactSection #contactContent #formContact input[type="email"]:focus {
    background: #F1F1FA; }

@media (max-width: 991px) {
  #contactContent p {
    font-size: 8pt;
    line-height: 1.3; } }
#newsLetter {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  #newsLetter::after {
    clear: both;
    content: "";
    display: table; }
  #newsLetter input[type="email"],
  #newsLetter label,
  #newsLetter button {
    float: left;
    margin-right: 10px; }
  #newsLetter button {
    margin-top: 2.3px;
    margin-right: 0;
    margin-left: 5px; }
  #newsLetter input[type="email"] {
    font-family: 'Hero';
    padding: 12px;
    box-sizing: border-box;
    display: block;
    border-radius: 2px;
    border: solid 1px #445878;
    width: 100%;
    background: #ECECF5;
    font-size: 12pt;
    margin-bottom: 20px;
    margin-top: 5px;
    resize: none;
    margin-top: 3px;
    display: inline-block;
    width: 79%;
    padding: 8.5px;
    height: 40px; }
    #newsLetter input[type="email"]:focus {
      background: #F1F1FA; }
  #newsLetter label {
    margin-top: 12px; }

.newsLetter-Phone input[type="email"],
.newsLetter-Phone label,
.newsLetter-Phone button {
  margin-right: 5px !important; }

@media (max-width: 991px) {
  #newsLetter p {
    font-size: 8pt;
    line-height: 1.3; } }
footer #footerContent {
  margin-bottom: 15px;
  width: 100%;
  height: 30px; }
  footer #footerContent small {
    float: right;
    margin-top: 5px; }
    footer #footerContent small #copyright {
      font-family: Helvetica;
      font-size: 12pt;
      vertical-align: -2px; }
  footer #footerContent ul {
    float: left; }
    footer #footerContent ul li {
      width: 30px;
      height: 30px;
      display: inline-block;
      margin-right: 15px; }
      footer #footerContent ul li a {
        display: inline-block;
        width: 100%;
        height: 100%; }
    footer #footerContent ul #facebook {
      background-image: url("../img/Facebook.png");
      background-size: 100%; }
    footer #footerContent ul #github {
      background-image: url("../img/Github.png");
      background-size: 100%; }
    footer #footerContent ul #linkedin {
      background-image: url("../img/LinkedIn.png");
      background-size: 100%; }

#container {
  z-index: 1; }

.container-expand {
  position: relative;
  top: 50px;
  margin: 0 auto;
  width: 990px !important; }

body {
  background-color: #EEEFF7; }

.sectionsPhone {
  margin-top: 70px; }

@font-face {
  font-family: 'Hero';
  /*a name to be used later*/
  src: url("../font/Hero.woff");
  /*URL to font*/ }
h1,
h2 {
  font-family: 'Hero';
  font-size: 20pt;
  text-align: center; }

p {
  font-family: 'Hero', Helvetia;
  text-align: justify;
  line-height: 150%;
  width: 100%;
  margin: 15px 0; }

hr {
  width: 100%;
  color: black;
  height: 1px;
  background-color: #aaa; }

* {
  padding: 0;
  margin: 0; }
  *:focus {
    outline: none; }

a {
  color: #31353D;
  text-decoration: none;
  position: relative; }
  a:hover, a:focus, a:visited {
    color: #1C1D21;
    text-decoration: none; }

.line {
  width: 100%;
  height: 2px;
  z-index: 1;
  background-image: url("../img/line.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
  position: relative; }

.round {
  background-color: #1C1D21;
  border-radius: 100%;
  height: 4px;
  width: 4px;
  position: relative;
  margin: 0 auto;
  top: -1px; }

.sectionHeader {
  text-align: center;
  height: 240px;
  z-index: 10; }
  .sectionHeader a {
    width: 100%;
    height: 100%;
    font-size: 18pt;
    font-weight: bold;
    position: relative; }

.sectionHeader-Phone a {
  border: solid 1px #EEEFF7;
  font-size: 40pt !important; }

.active {
  top: -2px;
  font-size: 18pt; }

.navbar-header {
  display: inline-block;
  position: relative;
  font-size: 18pt;
  color: #31353D;
  top: -2px;
  left: 10px; }
  .navbar-header button {
    margin: 0;
    padding: 0; }

@media (max-width: 991px) {
  .container {
    width: 100% !important;
    position: relative;
    overflow-x: hidden; }

  .navbar-header {
    float: none; }

  .navbar-left,
  .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; } }
@media (min-width: 1000px) {
  .container {
    width: 960px !important;
    margin: 0 auto !important;
    padding-right: 0;
    padding-left: 0; } }
.button-fill {
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  text-transform: uppercase;
  background: #EEEFF7;
  color: white; }

.button-text {
  color: #1C1D21;
  letter-spacing: .1em;
  position: relative;
  top: 43%; }

.button-inside {
  width: 0px;
  height: 100%;
  margin: 0;
  float: left;
  position: absolute;
  top: 0.1px;
  left: 50%;
  line-height: 54px;
  color: #EEEFF7;
  background: #445878;
  text-align: center;
  overflow: hidden;
  -webkit-transition: width 0.5s, left 0.5s, margin 0.5s;
  transition: width 0.5s, left 0.5s, margin 0.5s; }

.button-inside.full {
  width: 100%;
  left: 0%;
  top: 0.1px;
  background-color: #445878; }

.inside-text {
  text-align: center;
  position: absolute;
  right: 50%;
  top: 38%;
  letter-spacing: .1em;
  text-transform: uppercase;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%); }
