html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: 'Hero';
  /*a name to be used later*/
  src: url("../font/Hero.woff");
  /*URL to font*/ }
h1,
h2 {
  font-family: 'Hero';
  font-size: 20pt;
  text-align: center; }

p {
  font-family: 'Hero', Helvetia;
  text-align: justify;
  line-height: 150%;
  width: 100%;
  margin: 15px 0; }

hr {
  width: 100%;
  color: black;
  height: 1px;
  background-color: #aaa; }

* {
  padding: 0;
  margin: 0; }
  *:focus {
    outline: none; }

a {
  color: #31353D;
  text-decoration: none;
  position: relative; }
  a:hover, a:focus, a:visited {
    color: #1C1D21;
    text-decoration: none; }

.line {
  width: 100%;
  height: 2px;
  z-index: 1;
  background-image: url("../img/line.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
  position: relative; }

.round {
  background-color: #1C1D21;
  border-radius: 100%;
  height: 4px;
  width: 4px;
  position: relative;
  margin: 0 auto;
  top: -1px; }

.sectionHeader {
  text-align: center;
  height: 240px;
  z-index: 10; }
  .sectionHeader a {
    width: 100%;
    height: 100%;
    font-size: 18pt;
    font-weight: bold;
    position: relative; }

.sectionHeader-Phone a {
  border: solid 1px #EEEFF7;
  font-size: 40pt !important; }

.active {
  top: -2px;
  font-size: 18pt; }

.navbar-header {
  display: inline-block;
  position: relative;
  font-size: 18pt;
  color: #31353D;
  top: -2px;
  left: 10px; }
  .navbar-header button {
    margin: 0;
    padding: 0; }

@media (max-width: 991px) {
  .container {
    width: 100% !important;
    position: relative;
    overflow-x: hidden; }

  .navbar-header {
    float: none; }

  .navbar-left,
  .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; } }
@media (min-width: 1000px) {
  .container {
    width: 960px !important;
    margin: 0 auto !important;
    padding-right: 0;
    padding-left: 0; } }
* {
  font-family: 'Hero'; }

.submitButton {
  margin-bottom: 5px;
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #445878;
  color: #445878;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease; }
  .submitButton:hover {
    color: white;
    background: #445878; }
  .submitButton:active {
    letter-spacing: 2px; }
  .submitButton:after {
    content: "SUBMIT"; }

.onclic {
  width: 40px;
  border-color: #bbbbbb;
  border-width: 3px;
  font-size: 0;
  border-color: #445878;
  animation: rotating 2s 0.25s linear infinite; }
  .onclic:after {
    content: ""; }
  .onclic:hover {
    color: #445878;
    background: white; }

.validate {
  font-size: 13px;
  color: white;
  background: #445878; }
  .validate:after {
    font-family: 'FontAwesome';
    content: "\f00c"; }

@keyframes rotating {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
footer #footerContent {
  margin-bottom: 15px;
  width: 100%;
  height: 30px; }
  footer #footerContent small {
    float: right;
    margin-top: 5px; }
    footer #footerContent small #copyright {
      font-family: Helvetica;
      font-size: 12pt;
      vertical-align: -2px; }
  footer #footerContent ul {
    float: left; }
    footer #footerContent ul li {
      width: 30px;
      height: 30px;
      display: inline-block;
      margin-right: 15px; }
      footer #footerContent ul li a {
        display: inline-block;
        width: 100%;
        height: 100%; }
    footer #footerContent ul #facebook {
      background-image: url("../img/Facebook.png");
      background-size: 100%; }
    footer #footerContent ul #github {
      background-image: url("../img/Github.png");
      background-size: 100%; }
    footer #footerContent ul #linkedin {
      background-image: url("../img/LinkedIn.png");
      background-size: 100%; }

#contactSection #contactContent {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px; }
  #contactSection #contactContent::after {
    clear: both;
    content: "";
    display: table; }
  #contactSection #contactContent #formContact label {
    font-family: 'Hero'; }
  #contactSection #contactContent #formContact input[type="text"],
  #contactSection #contactContent #formContact input[type="email"],
  #contactSection #contactContent #formContact textarea {
    font-family: 'Hero';
    padding: 12px;
    box-sizing: border-box;
    display: block;
    border-radius: 2px;
    border: solid 1px #445878;
    width: 100%;
    background: #ECECF5;
    font-size: 12pt;
    margin-bottom: 20px;
    margin-top: 5px;
    resize: none; }
  #contactSection #contactContent #formContact input[type="text"]:focus,
  #contactSection #contactContent #formContact input[type="email"]:focus {
    background: #F1F1FA; }

@media (max-width: 991px) {
  #contactContent p {
    font-size: 8pt;
    line-height: 1.3; } }
@font-face {
  font-family: 'Hero';
  /*a name to be used later*/
  src: url("../font/Hero.ttf");
  /*URL to font*/ }
* {
  font-family: 'Hero'; }

body {
  background-color: #EEEFF7; }

h1 {
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #aaa;
  width: 30%;
  margin: 0 auto;
  font-size: 30pt; }

h2 {
  line-height: 1.5;
  text-align: justify;
  padding-top: 0;
  margin-top: 0; }

@media (max-width: 991px) {
  h2#funFactsText {
    font-size: 10pt; }

  ul li {
    font-size: 18pt !important; }

  #educationContent h3 {
    font-size: 10pt !important; }
  #educationContent p {
    font-size: 17pt !important; }

  #contactPlace h3 {
    font-size: 14pt; }

  #articleSection h1 {
    font-size: 60px; }
  #articleSection .Article h2 {
    font-size: 60px; }
  #articleSection .Article small {
    font-size: 25px; }
  #articleSection .Article p {
    font-size: 14px;
    line-height: 1.2; }
  #articleSection .Article a {
    font-size: 13px; }
    #articleSection .Article a span {
      vertical-align: -5px; } }
img {
  width: 100%;
  height: 100%; }

ul {
  font-size: 20pt; }
  ul li {
    font-size: 15pt;
    margin-left: 20px; }

.container-fluid {
  padding-left: 50px;
  padding-right: 50px; }

.ContentWrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  height: 100%; }

.section {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: solid 1px #aaa !important; }

.submitButton {
  margin-top: 30px;
  font-size: 15px;
  font-weight: bold; }
  .submitButton:after {
    content: "CONTACT ME"; }

#contactPlace {
  text-align: center;
  border: none;
  padding-bottom: 40px !important;
  width: 50%;
  margin: 40px auto 40px auto; }

#aboutText {
  border-bottom: solid 1px #aaa;
  padding-bottom: 30px; }

#funFactsText {
  margin-top: 30px; }

#skillContent {
  margin: 20px 0; }

#educationContent {
  text-align: center; }
  #educationContent h3 {
    font-size: 20pt; }
  #educationContent p {
    text-align: center;
    font-size: 15pt;
    color: rgba(26, 26, 26, 0.6); }
  #educationContent .studyPlace {
    padding-bottom: 30px; }

#portfolioSection {
  text-align: center;
  margin-bottom: 50px; }
  #portfolioSection h2 {
    text-align: center;
    padding-top: 20px; }
  #portfolioSection p {
    text-align: center;
    font-size: 12pt;
    color: rgba(26, 26, 26, 0.6); }

.PortfolioLogo {
  width: 300px;
  height: 300px;
  display: inline-block;
  background-image: url("../img/BussinessCard.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  position: relative;
  margin: 0 auto !important;
  transition: all 0.3s ease-in-out 0s; }
  .PortfolioLogo:hover {
    transform: scale(1.5, 1.5); }

#contactSection {
  padding-bottom: 0; }
  #contactSection p {
    font-size: 13pt;
    line-height: 2; }
  #contactSection h2 {
    text-align: center;
    margin-bottom: 30px; }
  #contactSection .submitButton {
    width: 200px; }
    #contactSection .submitButton:after {
      content: "DOWNLOAD RESUME"; }

#formContact {
  text-align: left; }
  #formContact label {
    font-family: 'Hero';
    font-size: 15pt;
    font-weight: normal; }
  #formContact input[type="text"],
  #formContact input[type="email"],
  #formContact textarea {
    font-family: 'Hero';
    padding: 12px;
    box-sizing: border-box;
    display: block;
    border-radius: 2px;
    border: solid 1px #445878;
    width: 100%;
    background: #ECECF5;
    font-size: 12pt;
    margin-bottom: 20px;
    margin-top: 5px;
    resize: none; }
  #formContact input[type="text"]:focus,
  #formContact input[type="email"]:focus {
    background: #F1F1FA; }
  #formContact .submitButton {
    width: 130px;
    margin-top: 0; }
    #formContact .submitButton:after {
      content: "SEND"; }

footer #footerContent {
  margin-bottom: 0;
  width: 100%;
  height: 30px; }
  footer #footerContent ul {
    float: left; }
    footer #footerContent ul li {
      width: 30px;
      height: 30px;
      display: inline-block;
      margin-right: 15px !important;
      margin-left: 0; }
      footer #footerContent ul li a {
        display: inline-block;
        width: 100%;
        height: 100%; }

.Article {
  padding-top: 20px; }
  .Article .ArticleTitle-expand,
  .Article .ArticleTitle-collapse {
    margin-bottom: 10px; }
    .Article .ArticleTitle-expand h2,
    .Article .ArticleTitle-collapse h2 {
      margin-bottom: 0;
      font-size: 25pt; }
    .Article .ArticleTitle-expand small,
    .Article .ArticleTitle-collapse small {
      font-size: 10pt;
      color: #9197a3; }
    .Article .ArticleTitle-expand p,
    .Article .ArticleTitle-collapse p {
      font-size: 14pt; }
  .Article .ArticleText-expand,
  .Article .ArticleText-collapse {
    position: relative; }
    .Article .ArticleText-expand a,
    .Article .ArticleText-collapse a {
      font-weight: bold;
      font-size: 12pt;
      transition: all 0.3s ease-in-out 0s;
      color: #445878; }
      .Article .ArticleText-expand a:hover,
      .Article .ArticleText-collapse a:hover {
        left: 5px; }
    .Article .ArticleText-expand span,
    .Article .ArticleText-collapse span {
      vertical-align: -2px; }
