@import "Global";
@import "button";
body {
    background-color: $white;
    #container {
        // @include test;
        background-color: $white;
        position: relative;
        top: 112px;
        width: 960px;
        height: 100%;
        margin: 0 auto;
        z-index: 1;
        #gallery {
            // @include test;
            width: 100%;
            position: relative;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .sectionHeader {
            // @include test;
            margin: 100px auto;
        }
        #aboutContent {
            // @include test;
        }
        #portfolioContent {
            text-align: center;
            .PortfolioLogo {
                @include ImageBlock;
                margin: 15px 50px;
                margin-bottom: 11px;
            }
        }
        #blogContent {
            .Article {
                // @include test(blue);
                @include outer-container(100%);
                // margin: 20px;
                h2 {
                    font-size: 15pt;
                    text-align: left;
                }
                small {
                    color: #9197a3;
                    font-family: 'Hero';
                }
                .BlogImage {
                    @include ImageBlock;
                    float: left;
                    margin: 15px 15px 11px 0;
                }
                .ArticleText {
                    float: right;
                    width: 75%;
                    height: 100%;
                    display: inline-block;
                    // vertical-align: middle;
                    margin-top: 35px;
                }
            }
        } // END BLOG CONTENT
        #contactContent {
            @include outer-container(100%);
            margin-bottom: 15px;
            #formContact {
                label {
                    font-family: 'Hero';
                }
                input[type="text"],
                input[type="email"],
                textarea {
                    @include textBlock;
                }
                input[type="text"],
                input[type="email"] {
                    &:focus {
                        background: #F1F1FA;
                    }
                }
            }
        }
        footer {
            form {
                margin: 20px 0;
                input[type="email"] {
                    @include textBlock;
                    display: inline-block;
                    width: 80%;
                    padding: 8.5px;
                    // margin-top: 4px;
                    margin-bottom: 15px;
                    &:focus {
                        background: #F1F1FA;
                    }
                }
                .button {}
            }
            #footerContent {
                // @include test(green);
                width: 100%;
                height: 100%;
                small {
                    float: right;
                    margin-top: 7px;
                    span {
                        font-family: helvetica;
                    }
                }
                .SocialIcon {
                    // @include test;
                    width: 100%;
                    height: 30px;
                    // float: left;
                    ul {
                        li {
                            // @include test(blue);
                            margin: 0 15px 0 0;
                            width: 30px;
                            height: 30px;
                            display: inline-block;
                            background-size: 100%;
                        }
                        a{
                        	// @include test(green);
                        	display: inline-block;
                        	width: 30px;
                        	height: 30px;
                        }
                        #facebook{
                        	background-image: url("../img/Facebook.png");
                        }
                        #github{
                        	background-image:url("../img/Github.png");
                        }
                        #linkedin{
                        	background-image:url("../img/LinkedIn.png");
                        }
                    }
                }
            } //END FOTTER CONTENT
        }
    } // END CONTAINER
} // END body
