@import "includes/button";
@import "includes/footer";
$white: #EEEFF7;
$blue: #92CDCF;
$dark-blue: #445878;
$gray: #31353D;
$black: #1C1D21;
@mixin test($color:red) {
    border: solid 1px $color;
}

@mixin ImageBlock {
    // @include test;
    width: 300px;
    height: 300px;
    display: inline-block;
    // margin: 0 auto !important;
    //4px margin bottom
}

@mixin setIconBackground($src) {
    background-image: url($src);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

@font-face {
    font-family: 'Hero';
    /*a name to be used later*/
    src: url('../font/Hero.ttf');
    /*URL to font*/
}

* {
    font-family: 'Hero';
    // font-size: 25pt;
}

body {
    background-color: $white;
    // height: 100%;
}

h1 {
    text-align: center;
    padding: 15px;
    // padding-top: 0px;
    border-bottom: 1px solid #aaa;
    width: 30%;
    margin: 0 auto;
    font-size: 30pt;
}

h2 {
    line-height: 1.5;
    text-align: justify;
    padding-top: 0;
    margin-top: 0;
    // padding-bottom: 40px;
    // border-bottom: solid 1px #aaa;
    // margin-bottom: 20px
}

img {
    width: 100%;
    height: 100%;
}

ul {
    font-size: 20pt;
    // border-bottom: solid 1px #aaa;
    // margin: 0 auto;
    li {
        font-size: 15pt;
        // margin: 0 auto;
        margin-left: 20px;
    }
}

.container-fluid {
    padding-left: 50px;
    padding-right: 50px;
}

.ContentWrapper {
    // @include test;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
}

.section {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: solid 1px #aaa;
    // text-align: center;
}

.submitButton {
    margin-top: 30px;
    // padding: 10px;
    // margin: 0 auto;
    font: {
        size: 15px;
        weight: bold;
    }
    &:after {
        content: "CONTACT ME";
    }
}

#contactSection {
    text-align: center;
    border: none;
    padding-bottom: 20px;
}

#aboutText {
    border-bottom: solid 1px #aaa;
    padding-bottom: 30px;
}

#funFactsText {
    margin-top: 30px;
    // padding-top: 30px;
}

#skillContent {
    // margin: 0 auto;
    margin: 20px 0;
}

#educationContent {
    text-align: center;
    h3 {
        font-size: 20pt;
    }
    p {
        // @include test;
        text-align: center;
        font-size: 15pt;
        color: rgba(26, 26, 26, 0.6);
    }
    .studyPlace {
        padding-bottom: 30px;
    }
}

#portfolioSection {
	text-align: center;
	margin-bottom: 50px;
    h2 {
        text-align: center;
        padding-top: 20px;
    }
    p {
        text-align: center;
        font-size: 12pt;
        color: rgba(26, 26, 26, 0.6);
    }
}
.PortfolioLogo {
    @include ImageBlock;
    @include setIconBackground("../img/BussinessCard.png");
    position: relative;
    margin: 0 auto !important;
    transition: all 0.3s ease-in-out 0s;
    // padding: 50px 0 !important;
    &:hover {
        transform: scale(1.5, 1.5);
    }
}
