include includes/global.jade

doctype html
html
	head
		meta(charset="UTF-8")
		title About Me
		link(rel="stylesheet", href="js/jquery-ui-1.11.4/jquery-ui.min.css")
		
		//- FULL PAGE
		//- link(rel="stylesheet", href="js/fullPage.js-master/jquery.fullPage.css")
		
		//- BOOTSTRAP
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
		
		//- link(rel="stylesheet" href="/Bootstrap/bootstrap-3.3.6-dist/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")

		//- MAIN
		link(rel="stylesheet", href="css/sections.css")

		link(rel="icon", href="img/chuki.png", type="image/x-icon")
	body
		.container-fluid
			.row
				h1#title ABOUT ME
			.ContentWrapper
				.row
					h2#aboutText.col-md-8.col-sm-8 Hi, I'm Nguyen Hung Vu, Vietnamese newbie Web Developer studying Computer Science at Ton Duc Thang University &amp; living in Ho Chi Minh City, Viet Nam.
					img#aboutImg(src="../img/BussinessCard.png", alt="Nope").col-md-4.col-sm-4






