include ../php/connection.php
include ../php/query_database.php
include ../php/global.php
include ../php/blog.php

mixin articleText(text)
	p(class="ArticleText")= text
	a(href="") READ POST 
		span.glyphicon.glyphicon-menu-right

mixin articleTitle(title, time)
	h2= title
	small= time

mixin articleContent(blogImgSrc, title, time, bodyText)
	article.Article
		.row
			section.ArticleTitle-collapse.col-sm-12.visible-sm-block
				a(href="")
					+articleTitle(title,time)
			.BlogImage
				img(src= blogImgSrc, alt="Nope").col-md-4.col-sm-12
			section.ArticleTitle-expand.col-md-8.col-sm-12.hidden-sm
				a(href="")
					+articleTitle(title,time)
				.ArticleText-expand
					+articleText(bodyText)
			.ArticleText-collapse.visible-sm-block.col-sm-12
				+articleText(bodyText)


doctype html
html
	head
		meta(charset="UTF-8")
		title What I Wrote
		link(rel="stylesheet", href="../js/jquery-ui-1.11.4/jquery-ui.min.css")
		
		//- FULL PAGE
		//- link(rel="stylesheet", href="js/fullPage.js-master/jquery.fullPage.css")
		
		//- BOOTSTRAP
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
		
		//- link(rel="stylesheet" href="/Bootstrap/bootstrap-3.3.6-dist/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")

		//- MAIN
		link(rel="stylesheet", href="../css/sections.css")

		link(rel="icon", href="../img/chuki.png", type="image/x-icon")
	body
		.container-fluid#articleSection
			.row
				h1 WHAT I WROTE
			.ContentWrapper
				<?php foreach ($post_data as $post): ?>
				.section
					article.Article
						.row
							section.ArticleTitle-collapse.col-sm-12.visible-sm-block
								a(href!="<?php echo 'post.php?id='.$post[4];?>")
									h2 <?php echo $post[1];?>
									small <?php echo time_elapsed_string($post[2]);?>
							.BlogImage
								img(src!='<?php echo $post[0];?>', alt="Nope").col-md-4.col-sm-0
							section.ArticleTitle-expand.col-md-8.col-sm-12.hidden-sm
								a(href!="<?php echo 'post.php?id='.$post[4];?>")
									h2 <?php echo $post[1];?>
									small <?php echo time_elapsed_string($post[2]);?> 
								.ArticleText-expand
									p(class="ArticleText") <?php echo substr($post[3],0,330).'...';?>
									a(href!="<?php echo 'post.php?id='.$post[4];?>") READ POST
										span.glyphicon.glyphicon-menu-right
							.ArticleText-collapse.visible-sm-block.col-sm-12
								p(class="ArticleText") <?php echo substr($post[3],0,330).'...';?>
								a(href!="<?php echo 'post.php?id='.$post[4];?>") READ POST 
									span.glyphicon.glyphicon-menu-right
				<?php endforeach;?>
				.section
					+articleContent("../img/articleimg1.jpg","Article Title 1", "Time", " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, quos incidunt, illum quaerat amet in ad. Unde ipsum facilis itaque similique ad, accusamus voluptates, et veniam alias facere distinctio adipisci!  Lorem ipsum dolor sit amet, consectetur")



