include ../php/global.php
include ../php/contact_form.php
include ../php/connection.php
include ../php/query_database.php

doctype html
html
	head
		meta(charset="UTF-8")
		title Say Hello
		link(rel="stylesheet", href="../js/jquery-ui-1.11.4/jquery-ui.min.css")
		
		//- FULL PAGE
		//- link(rel="stylesheet", href="js/fullPage.js-master/jquery.fullPage.css")
		
		//- BOOTSTRAP
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
		
		//- link(rel="stylesheet" href="/Bootstrap/bootstrap-3.3.6-dist/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")

		//- MAIN
		link(rel="stylesheet", href="../css/sections.css")

		link(rel="icon", href="../img/chuki.png", type="image/x-icon")
	body
		.container-fluid
			.row
				h1 SEND A FRIENDLY HELLO
			#contactSection.ContentWrapper
				h2 CONTACT INFOMATION
				.section
					.row
						p.col-md-8.col-sm-8
							strong Vũ Nguyên Hưng
							br
							|District 8, Ho Chi Minh City
							br
							strong 090.807.6542
							br
							|vunguyenhung.twd@gmail.com
							br
							a(href="")
								button.submitButton
						img(src="../img/BussinessCard.png", alt="").col-md-4.col-sm-4
				.section#contactSection
					.row#contactContent
						h2 SEND A FRIENDLY HELLO
						form(action!="<?php echo htmlspecialchars($_SERVER['PHP_SELF']); ?>" method="post")#formContact
							label(for="formName") Name: *
							small.text-danger <?php echo "<br>".$nameError; ?>
							input(type="text" name="contactName")#formName
							label(for="formEmail") Email: *
							small.text-danger <?php echo "<br>".$emailError; ?>
							input(type="email" name="contactEmail")#formEmail
							
							label(for="formMessage") Message: *
							small.text-danger <?php echo "<br>".$messageError; ?>
							textarea#formMessage(name="contactMessage", cols="30", rows="10" )
							
							button#submitMessage(type="submit" name="contactSubmit").submitButton
							small.text-success <?php echo "<br>".$messageSuccess; ?>
							small.text-danger <?php echo "<br>".$messageFailed; ?>
			include includes/Footer.jade
