include includes/global.jade
include ../php/connection.php
include ../php/query_database.php
include ../php/global.php
include ../php/contact_form.php
include ../php/blog.php
//- ----------------
doctype html
html
	head
		meta(http-equiv="Content-Type" content='text/html; charset="UTF8"')
		title Vu Nguyen Hung

		//- FONT AWESOME
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
		//- link(rel="stylesheet", href="../css/font-awesome-4.5.0/css/font-awesome.min.css")

		//- JQUERY UI

		link(rel="stylesheet", href="js/jquery-ui-1.11.4/jquery-ui.min.css")
		
		//- FULL PAGE
		//- link(rel="stylesheet", href="js/fullPage.js-master/jquery.fullPage.css")
		
		//- BOOTSTRAP
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
		
		//- link(rel="stylesheet" href="/Bootstrap/bootstrap-3.3.6-dist/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")


		//- MAIN
		link(rel="stylesheet", href="css/main.css")

		link(rel="icon", href="img/chuki.png", type="image/x-icon")

			
	body.container
		#container.container

			include includes/FixedMenu.jade

			#sections
				include includes/Gallery.jade
				//- END GALLERY


				include includes/About.jade
				//- END ABOUT SECTION


				include includes/Portfolio.jade
				//- END PORTFOLIO SECTION
				

				include includes/Blog.jade
				//- END BLOG SECTION


				include includes/Contact.jade
				//- END CONTACT SECTION
				

				include includes/Newsletter.jade
				//- END NEWSLETTER SECTION


				include includes/Footer.jade
				//- END FOOTER CONTENT
		//- END CONTAINER


		//- jQuery
		script(src='http://code.jquery.com/jquery-2.2.0.min.js' language="javascript" type="text/javascript")
		//- script(src='../js/jquery-2.2.0.min.js' type="text/javascript")

		//- jQuery UI
		script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js' type="text/javascript")
		//- script(src='../js/jquery-ui-1.11.4/jquery-ui.min.js' type="text/javascript")

		//- SCROLL TO
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js" type="text/javascript")

		//- FULL PAGE
		//- script(src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.6/jquery.fullPage.min.js" type="text/javascript")

		//- //- OPTIONAL
		//- script(src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.6/vendors/jquery.easings.min.js" type="text/javascript")

		//- script(src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.6/vendors/jquery.slimscroll.min.js" type="text/javascript")
		//----------
		
		//- BOOSTRAP
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
		
		//- script(src="Bootstrap/bootstrap-3.3.6-dist/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")

		script(src="Bootstrap/bootstrap-toolkit.js")


		//- JS
		script(src='js/script.js' type='text/javascript')
		


	


		