include includes/global.jade

//- ----------------
doctype html
html
	head
		meta(charset="UTF-8")
		title Vu Nguyen Hung

		//- FONT AWESOME
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
		//- link(rel="stylesheet", href="../css/font-awesome-4.5.0/css/font-awesome.min.css")

		//- JQUERY UI
		link(rel="stylesheet", href="js/jquery-ui-1.11.4/jquery-ui.min.css")

		//- MAIN
		link(rel="stylesheet", href="css/main.css")

		link(rel="icon", href="img/chuki.png", type="image/x-icon")

			
	body
		include includes/FixedMenu.jade
		
		#container

			include includes/Gallery.jade
			//- END GALLERY


			include includes/About.jade
			//- END ABOUT SECTION


			include includes/Portfolio.jade
			//- END PORTFOLIO SECTION
			

			include includes/Blog.jade
			//- END BLOG SECTION


			include includes/Contact.jade
			//- END CONTACT SECTION
			

			include includes/Newsletter.jade
			//- END NEWSLETTER SECTION


			include includes/Footer.jade
			//- END FOOTER CONTENT
		//- END CONTAINER
		//- jQuery
		script(src='http://code.jquery.com/jquery-2.2.0.min.js' language="javascript" type="text/javascript")
		//- script(src='../js/jquery-2.2.0.min.js' type="text/javascript")

		//- jQuery UI
		script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js' type="text/javascript")
		//- script(src='../js/jquery-ui-1.11.4/jquery-ui.min.js' type="text/javascript")

		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js" type="text/javascript")

		//- JS
		script(src='js/script.js' type='text/javascript')
		


	


		