div(class="section fp-auto-height")#aboutSection
	+linex("About")
	+sectionHeader("About","About")
	+line
	#aboutContent
		p  Hi, I'm Vũ Nguyên Hưng, Vietnamese newbie Web Developer studying Computer Science at Ton Duc Thang University &amp; living in District 8, Ho Chi Minh City, Viet Nam.
