section#about
	+sectionHeader("About")
	+line
	#aboutContent
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem hic distinctio modi ipsam non, veniam asperiores fugit doloremque iste repellat itaque, ducimus sed necessitatibus? Ea, non eum dolorum. Nobis, dicta! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, natus vero debitis voluptatem cum, similique officiis explicabo excepturi assumenda molestias culpa quod tempore animi dolorem, unde quibusdam. Sapiente, qui, nostrum!
	+line
