div#blogSection
	+linex("Blog")
	+sectionHeader("Blog","Blog")
	+line
	.container
		#blogContent
			<?php foreach ($post_data_2last as $post): ?>
			article.Article
				.row
					section.ArticleTitle-collapse.col-sm-12.visible-sm-block
						a(href!="<?php echo 'Blog/post.php?id='.$post[4];?>")
							h2 <?php echo $post[1];?>
							small <?php echo time_elapsed_string($post[2]);?>
					.BlogImage
						img(src!='<?php echo $post[0];?>', alt="Nope").col-md-4.col-sm-0
					section.ArticleTitle-expand.col-md-8.col-sm-12.hidden-sm
						a(href!="<?php echo 'Blog/post.php?id='.$post[4];?>")
							h2 <?php echo $post[1];?>
							small <?php echo time_elapsed_string($post[2]);?> 
						.ArticleText-expand
							p(class="ArticleText") <?php echo $post[5];?>
							a(href!="<?php echo 'Blog/post.php?id='.$post[4];?>") READ POST
								span.glyphicon.glyphicon-menu-right
					.ArticleText-collapse.visible-sm-block.col-sm-12
						p(class="ArticleText") <?php echo $post[5];?>
						a(href!="<?php echo 'Blog/post.php?id='.$post[4];?>") READ POST 
							span.glyphicon.glyphicon-menu-right
			<?php endforeach;?>