//- header.menuExpand
//- header.menuCollapse
header(id="FixedMenu")
	#logoContent
		img(src="img/test5.gif", alt="Nope")#logo
		p#name Vũ Nguyên Hưng
	nav#navigation
		+line
		ul
			each val in ["About", "Portfolio", "Blog", "Contact"]
				li(id= val) !{val}