footer
	#footerContent
		small <span id="copyright">&copy;</span> Vu Nguyen Hung 2016
		ul
			li#facebook
				a(href="https://www.facebook.com/Legend.Of.Fker")
			li#github
				a(href="https://github.com/spamspam252")
			li#linkedin
				a(href="https://www.linkedin.com/in/nguy%C3%AAn-h%C6%B0ng-v%C5%A9-042071113")
