mixin line
	.line
		.round

mixin linex(id)
	div(id=id)
		.line
			.round

mixin sectionHeader(header, link)
	.sectionHeader
		a(href=link, id=header+"Title")
			.button-fill
				.button-text= header
				.button-inside
					.inside-text Gimme&nbspMe&nbspMore&nbsp!!!

