div#newsLetter
	+line
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit esse est voluptates dolorum reprehenderit autem vitae perferendis et repellat temporibus blanditiis, tenetur cum commodi dicta harum alias. Eveniet non, explicabo!
	form#newsLetterForm
		label(for="formEmail") Email: 
		input(type="email")#newsletterEmail
		button(type="button")#submitNewsLetter.submitButton