div#newsLetter
	+line
	p Sign up with your email address to be notified whenever I made something new !
	form#newsLetterForm
		label(for="formEmail") Email: 
		input(type="email")#newsletterEmail
		button(type="button")#submitNewsLetter.submitButton