include ../../php/global.php
include ../../php/connection.php
include ../../php/query_database.php
include ../../php/blog_post.php

doctype html
html
	head
		meta(charset="UTF-8")
		title Post
		link(rel="stylesheet", href="../js/jquery-ui-1.11.4/jquery-ui.min.css")
		
		//- FULL PAGE
		//- link(rel="stylesheet", href="js/fullPage.js-master/jquery.fullPage.css")
		
		//- BOOTSTRAP
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
		
		//- link(rel="stylesheet" href="/Bootstrap/bootstrap-3.3.6-dist/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")

		//- MAIN
		link(rel="stylesheet", href="../css/sections.css")

		link(rel="icon", href="../img/chuki.png", type="image/x-icon")
	body
		.container-fluid#postContent
			.row.text-center
				h1 <?php echo $post_data[title];?>
				small <?php echo time_elapsed_string($post_data[time]);?> 
				img(src!="<?php echo $post_data[img]?>", alt="Nope")
			.row#src
				p Bài viết này được dịch lại từ <a href="<?php echo $post_data[src_link];?>"> <?php echo $host;?> </a>		
			.row.text-justify
				p <?php echo $post_data[body];?>
			<?php if($check): ?>
			.row.text-right
				a(href!="<?php echo 'post.php?id='.$id2; ?>")#next NEXT POST 
					span.glyphicon.glyphicon-menu-right
			<?php endif;?>

					

