@import "Global";
@import "Gallery";
@import "button";
@import "About";
@import "Portfolio";
@import "Blog";
@import "Contact";
@import "Newsletter";
@import "Footer";
@import "Container";
body {
    background-color: $white;
    width: 100%;
} // END body

.bodyPhone{
	width: 2000px;
}