@import "Global";
#navigation {
    // @include test(black);
    position: relative;
    // top: -50px;
    // bottom: -10px;
    // height: 100%;
    width: 100%;
    z-index: 7;
    ul {
        text-align: center;
        li {
            display: inline-block;
            margin: 0 70px;
            font-family: 'Hero';
            // color: $gray;
            position: relative;
            top: 0px;
            font-size: 13pt;
            transition: all 0.25s ease;
            &:hover {
                cursor: pointer;
                color: #6B7385;
                transition: all 0.25s ease;
            }
        }
    }
}

.navSelected {
    // color: #aaa;
    color: #6B7385;
}

#name {
    // @include test;
    position: relative;
    top: -18px;
    margin: 0 auto;
    font-size: 16pt;
    text-align: center;
    width: 200px;
    // padding-bottom: 10px;
}

#logo {
    // @include test(yellow);
    width: 80px;
    height: 65px;
    position: relative;
    top: 2px;
    left: 46%;
    // display: visible;
}

.menuCollapse {
    height: 75px; //override cai nay duoc
    #logoContent {
        // width: 0%;
        height: 36px;
        #logo {
            // margin-bottom: 50px;
            left: 50%;
            height: 0%;
            width: 0%;
        }
        #name {
            // display: block;
            font-size: 16pt;
        }
    }
}

header {
    // @include test;
    height: 110px;
    width: 100%;
    position: fixed;
    top: 0px;
    box-shadow: 0px 3px 11px -1px rgba(117, 117, 117, 1);
    background-color: $white;
    z-index: 5;
    transition: all 0.25s ease;
    #logoContent {
        // @include test(green);
        margin: 0 auto;
        position: relative;
        top: 2px;
        margin-bottom: 5px;
        width: 100%;
        height: 73px;
        transition: all 0.25s ease;
        #logo {
            // display: none;
            // top: -10px;
            transition: all 0.25s ease;
            &:hover {
                cursor: pointer;
            }
        }
        #name {
            // display: none;
            // content: "asd";
            font-size: 0pt;
            transition: all 0.25s ease;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .line {
        // @include test;
        width: 960px;
        margin: 0 auto;
        margin-bottom: 3.5px;
    }
}
