  footer {
      #footerContent {
          // @include test(green);
          margin-bottom: 15px;
          width: 100%;
          height: 30px;
          small {
              float: right;
              margin-top: 5px;
              #copyright {
                  font-family: Helvetica;
                  font-size: 12pt;
                  vertical-align: -2px;
              }
          }
          ul {
              float: left;
              li {
                  width: 30px;
                  height: 30px;
                  display: inline-block;
                  margin-right: 15px;
                  a {
                      // @include test(black);
                      display: inline-block;
                      width: 100%;
                      height: 100%;
                  }
              }
              #facebook {
                  background-image: url("../img/Facebook.png");
                  background-size: 100%;
              }
              #github {
                  background-image: url("../img/Github.png");
                  background-size: 100%;
              }
              #linkedin {
                  background-image: url("../img/LinkedIn.png");
                  background-size: 100%;
              }
          }
      }
  } //END FOOTER
