@mixin test($color:red) {
    border: solid 1px $color;
}

@mixin ImageBlock {
    @include test;
    width: 200px;
    height: 200px;
    display: inline-block;
    //4px margin bottom
}

@mixin setIconBackground($src) {
    background-image: url("$src");
    background-size: 100%;
}

@mixin textBlock {
    font-family: 'Hero';
    padding: 12px;
    box-sizing: border-box;
    display: block;
    border-radius: 2px;
    border: solid 1px $dark-blue;
    width: 100%;
    background: #ECECF5;
    font-size: 12pt;
    margin-bottom: 20px;
    margin-top: 5px;
    resize: none;
}

@mixin udlineAnimate {
    &:hover:before {
        cursor: pointer;
        transition: all 0.3s ease-in-out 0s;
        visibility: visible;
        transform: scaleX(1);
    }
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: $gray;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
    }
}

@font-face {
    font-family: 'Hero';
    /*a name to be used later*/
    src: url('../font/Hero.ttf');
    /*URL to font*/
}

h1,
h2 {
    font-family: 'Hero';
    font-size: 20pt;
    text-align: center;
}

p {
    font-family: 'Hero';
    text-align: justify;
    line-height: 150%;
    width: 100%;
    margin: 15px 0;
}

$white: #EEEFF7;
$blue: #92CDCF;
$dark-blue: #445878;
$gray: #31353D;
$black: #1C1D21;
* {
    padding: 0;
    margin: 0;
    &:focus {
        outline: none;
    }
}

a {
    color: $gray;
    text-decoration: none;
    position: relative;
}

.line {
    // @include test;
    width: 100%;
    height: 2px;
    z-index: 1;
    background-image: url("../img/line.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
    position: relative;
    // margin: 20px auto;
}

.round {
    background-color: $black;
    border-radius: 100%;
    height: 4px;
    width: 4px;
    position: relative;
    margin: 0 auto;
    top: -1px;
}

.sectionHeader {
    // @include test(black);
    // font-family: 'Hero';
    // cursor: pointer;
    text-align: center;
    // margin: 100px auto;
    height: 240px;
    z-index: 10;
    a {
        // text-align: center;
        width: 100%;
        height: 100%;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        font-size: 18pt;
        font-weight: bold;
        // @include test;
        position: relative;
    }
}

.active {
    top: -2px;
    font-size: 18pt;
    // top: -10px;
    // text-transform: uppercase;
    // &:before{
    //     height: 1px;
    // }
}
