 #newsLetter {
     // @include test;
     @include outer-container(100%);
     // display: block;
     // margin: 20px 0;
     // margin-bottom: 20px;
     input[type="email"],
     label,
     button {
         float: left;
         margin-right: 10px;
     }
     button {
         margin-top: 2.3px;
         margin-right: 0;
         margin-left: 5px;
     }
     input[type="email"] {
         @include textBlock;
         margin-top: 3px;
         display: inline-block;
         width: 79%;
         padding: 8.5px;
         height: 40px;
         &:focus {
             background: #F1F1FA;
         }
     }
     label {
         margin-top: 12px;
     }
 }
 
 .newsLetter-Phone {
     input[type="email"],
     label,
     button {
         // float: left;
         margin-right: 5px !important;
     }
 }

 @media (max-width: 991px){
     #newsLetter{
        p{
            font-size: 8pt;
            line-height: 1.3;
        }
    }
}
